
body {
	background:white;
}

.center{
	margin: 6% 0 0 0;
	text-align:center;
}


#fixedbutton {
  position: fixed;
  bottom: 0px;
  right: 0px; 
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 26px;
  background: #97c0db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#fixedbutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.transparent {
 -khtml-opacity:.50; 
 -moz-opacity:.50; 
 -ms-filter:â€�alpha(opacity=50)â€�;
  filter:alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
  opacity:.50; 
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #3cb0fd;
}

.nav>li>active {
    background-color: #000000;
    color:#000000;
    z-index:10;
}
.nav{
	 z-index:100;
}
.btn-upper {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 14px 20px 10px 20px;
  border: solid #1a1d1f 2px;
  text-decoration: none;
}


.btn-upper:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#search{
		margin-left: 2cm;
}
.calm {
	position: fixed;
	background-color: rgba(255,255,255,0.3);
}
.not-calm{
	position: fixed;
	background-color: black;
}

	
#search-body{
	background-color: black;
}
.jumbotron{
	background-color: rgba(244,244,244,0.5);
}
.center-no-margin{
	text-align:center;
}
.btn-search {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 26px;
  background: #cc2f2f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-search:hover {
  background: #fcfc3c;
  text-decoration: none;
}
.noPadding{
	margin: 0 100px 0 0;
}

.bottomMargin{
	margin: 0 0 15px 0;
}
.hidden{
	display: none;
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #2c4c61;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}



.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.trailer-window{
	background:black;
}




.img-active{
     
    background:rgba(0,0,0,0.6);
    opacity:1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.img-innactive{
     background:rgba(0,0,0,0.6);
    opacity:0.4;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
}